{% extends "layout.html" %}

{% block left %}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="/request">网页接口请求次数</a></li>
        <li><a href="/os">用户系统分布</a></li>
        <li><a href="/browser">用户浏览器分布</a></li>
        <li><a href="/device">用户设备分布</a></li>
    </ul>
</div>
{% endblock %}

{% block right %}
<!--右边展示-->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">数据可视化</h1>

</div>
{% endblock %}

